@font-face {
    font-family: 'Spectral';
    src: url('Spectral-Regular.woff2') format('woff2'),
        url('Spectral-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

